body{ background-color: rgb(233, 232, 232); }

.container-content{ padding: 20px; margin: auto 0 auto 10% }

.filter{position: absolute; height: 100%; width: 100%;}

.primary-color{ color: rgb(245, 174, 21); }
.secondary-color{ color: rgb(129, 129, 129)}
.tertiary-color {color: rgb(2, 102, 216);}

.br-1{ border-radius: 10px;}
.br-2{ border-radius: 20px;}

.div__separator{margin: 30px auto;}
.separator{background: grey; width: 1px; height: 100%;}

.title{font-weight: 700;}

.fw-6 {font-weight: 600;}

.btn-outline-primary-this{ font-weight: 600; border-radius: 20px; padding: 0.25rem 0.75rem;}

.black{color: black;}

@media only screen and (max-width: 768px) {
    
    .container-content{margin: auto 0 !important;}
    /*********
    NAVBAR
    **********/

    .navbar{height: 115px;}

    .navbar button{transform: translateY(-120%);}

    .timeline{min-width: 17.666667% !important;}

    /*********
    BANNER
    **********/
    .agenzia,
    .referente__img{padding-left: 0 !important;}
    .div__separator{ display: none; }

    /*********
    ACCORDION GALLERY
    **********/

    .pm-l{ padding-left: 0;}

    .pm-r{padding-right: 0;}

    /*********
    ACCORDION COVER
    **********/
    
    .accordion__cover__title .accordion__date{display: block;}

    /*********
    ACCORDION ACTIVITY
    **********/

    .pics-1, .pics-2{width: 100%; margin: 20px 0;}

    /*********
    ACCORDION INCLUDED CHECK
    **********/

    .included__check p{margin-right: 0 !important;}

    /*********
    SPAN REMINDER
    **********/

    span.reminder{display: block;}

    /*********
    FOOTER
    **********/

    .footer button{padding: 0;}

}

