.icon-transfer{ max-height: 100px; max-width: 100px; margin-left: 15px ;}
.icon-transfer-car{ background-color: rgb(255, 181, 181); color: rgb(197, 7, 7);}
.icon-transfer-transfer{ background-color: rgb(181, 250, 255); color: rgb(7, 112, 197);}
.icon-transfer-bus{ background-color: rgb(255, 248, 181); color: rgb(197, 121, 7);}